<p id="notice"><%= notice %></p>

<p>
  <b>Property code:</b>
  <%= @property_code.property_code %>
</p>


<%= link_to 'Edit', edit_property_code_path(@property_code) %> |
<%= link_to 'Back', property_codes_path %>
